/* fraunces-900 - latin */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/fraunces-v24-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/fraunces-v24-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-regular - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/barlow-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-500 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/barlow-v12-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/barlow-v12-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-700 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/barlow-v12-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/barlow-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-800 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/barlow-v12-latin-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/barlow-v12-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Fraunces", serif;
  font-family: "Barlow", sans-serif;
  font-style: normal;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1320px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
/* site-header */
.site-header {
  padding: 45px 0;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-list {
  display: flex;
}
.header-item + .header-item {
  margin-left: 33px;
}

.header-link {
  font-family: "Barlow" sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}
.header-link:hover {
  color: #333d4b;
}
/* hero-section */
.hero-section {
  padding-bottom: 136px;
}
.hero-wrapper {
  border-radius: 20px;
  padding: 117px 0 116px 87px;
  background-image: url("../img/Bitmap.png");
  background-repeat: no-repeat;
}
.hero-title-wrap {
  width: 493px;
  margin-bottom: 32px;
}
.hero-title {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
}
.hero-text-wrap {
  width: 444px;
  margin-bottom: 56px;
}
.hero-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.hero-link {
  padding: 15px 31px;
  background: #0e8784;
  border-radius: 6px;
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  text-align: center;
  color: #fefcf7;
  display: inline-block;
  transition: 0.4s;
}
.hero-link:hover {
  background-color: #66d2cf;
}

/* collection-section */

.collection-list {
  position: relative;
  margin: 0 auto;
  padding-top: 126px;
  width: 1100px;
  display: flex;
  justify-content: space-between;
}
.collection-item {
  width: 256px;
  text-align: center;
}
.collection-title {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
  margin-top: 72px;
}
.collection-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
  margin-top: 24px;
}
.collection-wrap {
  position: absolute;
  top: 85px;
  z-index: -1;
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 150px;
  line-height: 72px;
  text-align: center;
  color: #83888f;
  background: linear-gradient(
    180deg,
    rgba(254, 252, 247, 0.0001) 0%,
    #fefcf7 100%
  );
  opacity: 0.5;
}
/* why-section */
.why-section {
  margin: 200px 0;
  padding-bottom: 151px;
}
.why-wrapper {
  position: relative;
  padding-top: 100px;
  background: #2c343e;
  border-radius: 10px;
  padding-bottom: 317px;
}
.wrapper-title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #fefcf7;
  margin-bottom: 32px;
}
.wrapper-text-box {
  width: 540px;
  text-align: center;
  margin: auto;
}
.wrapper-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.wrapper-list {
  position: absolute;
  bottom: -151px;
  left: 0;
  right: 0;
  margin: auto;
  width: 1100px;
  display: flex;
  justify-content: space-between;
}
.wrapper-item {
  padding: 72px 48px 0 48px;
  width: 350px;
  background: #0e8784;
  border-radius: 8px;
  text-align: center;
}
.wrapper-item:nth-child(3) {
  padding-top: 83px;
}
.wrapper-item-title {
  margin-top: 56px;
  margin-bottom: 32px;
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #fefcf7;
}
.wrapper-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
  margin-bottom: 48px;
}
/* work-section */
.work-section {
  margin-bottom: 200px;
}
.work-title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
  margin-bottom: 95px;
}
.line {
  position: relative;
  width: 760px;
  height: 2px;
  background-color: #fdd6ba;
}
.circle {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 31px;
  height: 31px;
  background: #fefcf7;
  border: 2px solid #0e8784;
  border-radius: 50%;
}
.circle:nth-child(2) {
  left: 0;
  right: 0;
  margin: auto;
}
.circle:nth-child(3) {
  right: 0;
}
.work-list {
  width: 1045px;
  display: flex;
  justify-content: space-between;
  margin-top: 82px;
  margin-bottom: 64px;
}
.work-item {
  width: 285px;
}
.work-number {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
  margin-bottom: 32px;
}
.work-item-title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
  margin-bottom: 42px;
}
.work-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
}
/* site-footer */
.site-footer {
  padding: 47px;
  background-color: #2c343e;
}
.foot {
  display: flex;
  align-items: center;
}
.foot-link:hover {
  color: #fefcf7;
}

.footer-list {
  margin-left: 103px;
  
}
.logo-internet {
  width: 120px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo path:hover {
  color: red;
}